.popup {
  /* display: none; */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000000;
}
