.card__flex {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
margin: 0;
padding-left: 21px;
padding-right: 15px;
padding-bottom: 31px;
width: 100%;
box-sizing: border-box;
}
