@media screen and (max-width: 1024px) {
  .page__footer {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 640px) {
  .page__footer {
    padding: 0 27px;
  }
}
