.profile__job {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 335px;
}

@media screen and (max-width: 1024px) {
  .profile__job {
    font-size: 3vw;
    line-height: 1.2;
  }
}

@media screen and (max-width: 320px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    margin-top: 7px;
  }
}
